<body>
    <nav class="navbar">
      <div class="navbar-left">
        <div class="navbar-logo">
          <a routerLink="/" class="navbar-link">Wanderstay</a>
        </div>
        <div class="navbar-search">
          <input type="text" placeholder="Search" class="search-input">
          <button class="search-button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div class="navbar-right">
        <a routerLink="/" class="navbar-link">Home</a>
        <a routerLink="/about" class="navbar-link">About</a>
        <a routerLink="/contact" class="navbar-link">Contact Us</a>
        <a class="navbar-link" (click)="openHostPopup()">Host</a> <!-- Add click event here -->
        <a routerLink="/signup" class="navbar-link">Signup</a>
        <a routerLink="/login" class="navbar-link">Login</a>
      </div>
    </nav>
  </body>
  